.Project_details {
  display: flex;
  flex-direction: column;

}
.image_body_row{
  display: flex;
  flex-direction: row;
}
.project_image{
  padding: 20px;
  border: 5px solid rgb(146, 146, 146);
  height: 50vh;
  margin: 20px;
  border-radius: 20px;
}
.Project_details_title {
  font-size: large;
  font-weight: bolder;
  margin-left: 35px;
  margin-top: 35px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.Project_desc{
  word-wrap: break-word;
  width: 50vw;
}
.Project_desc_title{
  font-weight: w300;
  color: white;
}
.Bids_head{
  border-radius: 20px;
  padding: 20px;
  background-color: blueviolet;
  border: 1px solid blueviolet;
}
.Bid_card{
  border-radius: 10px;
width: 15vw;
  padding: 20px;
  background-color: #292929;
  border: 1px solid blueviolet;
}
.Bids{
  border-radius: 10px;
  width: fit-content;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:5px ;
}
.Project_details_body {
  border: 1px solid blueviolet;
  border-radius: 30px;
  background-color: #1d1d1d;
  
  animation: glowing 1.5s ease-in-out infinite alternate;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733); 
  margin-left: 3vw;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Requirements_description {
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  color: rgba(240, 248, 255, 0.745);
}
.i_will_make_button{
  width: 20vw;
  background-color: blueviolet;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  margin: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  
}
.Project_name{
  font-weight: 500;
  color: white;
}
.i_will_make_button:hover{
  cursor: pointer;
  background-color: rgb(112, 1, 172);
}
.end_date{
  padding: 10px;
  display: flex;
  align-self: flex-start;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(167, 167, 167);
}

.point_get{
  padding: 10px;
  display: flex;
  align-self: flex-start;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(172, 172, 172);
}
.process_project{
  padding: 10px;
  font-size: 20px;
}
.Column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  
.Project_details_body {
  padding: 20px;
  width:90vw;
  font-size: 12px;
  border-radius: 10px;
}
.Requirements_description {
  width: 90vw;
  padding: 6px;
  font-size: 10px;
  font-weight: 500;
  color: rgba(240, 248, 255, 0.745);
}

.i_will_make_button{
  width: 70vw;
}
.image_body_row{
  display: flex;
  flex-direction: column-reverse;
}
.project_image{
  width: 80vw;
  height: 70vw;
  margin-bottom: 30px;
  margin-left: 10vw;
}

.Bid_card{
  border-radius: 10px;
width: fit-content;
  padding: 20px;
  background-color: #292929;
  border: 1px solid blueviolet;
}
.Project_desc{
  word-wrap: break-word;
  width: 85vw;
  margin: 5px;
}
}
.Project_submit{
  background-color: #29292900;
}