.Main_content{
    
    position: relative;
    display: flex;
    flex-direction: column;
}
.FA_B{
    
    position:fixed;
    top: 90%;
    left: 90%;
    background-color: rgb(123, 0, 255);
    color: aliceblue;
    padding: 15px;
    border-radius: 70px;
    cursor: pointer;
  }
  .gap{
    display: flex;
    max-width: 4.5vw;
    min-width: 100px;
  }
  .Row{
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-left: 2.5vw;
    width: 87vw;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (max-width: 1200px) {
    .gap{
      min-width: 80px;
    }
    .FA_B{
      left: 80%;
    }
    .Row{
      flex-direction: column;
      width: 80vw;
      margin: 0px;
      margin-left: 0px;
    }
    }



