
.date__{
  margin: 10px;
}

.My_journey_title {
  
  font-size: large;
  font-weight: bolder;
  margin-left: 35px;
  margin-top: 35px;
}

.block:hover {
	border: 1px solid #9057f9;
}

.text_ {
  margin-top: 25px;
  margin-left: 0px;
  font-size: 10px;
  
  word-break: break-all;
  white-space:normal;
}
.block {
  cursor: pointer;
  height: 120px;
  width: 120px;
  font-weight: bolder;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: #292929;
  border-radius: 20px;
  
  animation: glowing 1.5s ease-in-out infinite alternate;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.39); 
}
.Session_name {
  justify-content: space-between;
  margin-left: 1vw;
  font-weight: 100;
  color: rgb(255, 240, 240);
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-weight: 400;
}
.date_status{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}


.My_journey_course_name{
  color: rgb(102, 1, 197);
  width: 70vw;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 30px;
}
.other {
  background-color: #8757f9;
}
.View_session_details{
  color: aliceblue;
  
 border: 1px solid rgba(255, 255, 255, 0.137);
  background-color: #222222;
  width: 31vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 77vh;
  justify-content: space-evenly;
  border-radius: 10px;
  animation: glowing 1.5s ease-in-out infinite alternate;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.39); 
}
@media screen and (max-width: 1000px) {

  .text_ {
    margin-top: -5px;
    margin-left: 0px;
  }
  .Session_name {
    margin-top: 0px;
  }
  .block {
    border-radius: 16px;
  }
  .empty_month {
    display: none;
  }
  .day_name {
    display: none;
  }
  .Calender {
    height: 200vw;
    width: 85vw;
    display: grid;

    padding-left: 0px;
    gap: 10px;
    grid-template-columns: 18.5vw 18.5vw 18.5vw 18.5vw;
    grid-template-rows: 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw;
  }
}







.calendar {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar h1 {
  color: #333;
  margin-bottom: 20px;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}
.Calender_section{
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
}
.Session_date_,.Session_name_,.Completed,.Session_time{
  background-color: #11111162;
  padding: 10px;
  min-width: 17vw;
  border-radius: 7px;
  text-align: center;
}

.Session_date_:hover,.Session_name_:hover,.Completed:hover,.Session_time:hover{

  background-color: rgba(103, 0, 199, 0.349);
}

.Record_player_{
  border: 1px solid rgba(255, 255, 255, 0.253);
  width: 29vw;
  height: 20vw;
  padding: 10px;
}
.calendar-date {
  background-color: #292929;
  border-radius: 10px;
  width: 120px; /* Adjust width as desired */
  height:130px; /* Adjust height as desired */
  margin: 5px; /* Adjust margin as desired */
  animation: glowing 1.5s ease-in-out infinite alternate;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.596); /* Adjust the color and intensity of the glow effect */
}
.Row_calendar_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  margin-top: 15px;
  margin-left: 15px;
}
.calendar-date:hover{
 background-color: #202020;
 border: 1px solid rgba(137, 43, 226, 0.658);
}
.today {
 background-color: #222222; 
 border: 1px solid rgba(209, 209, 209, 0.658);/* Set the background color for today's date */
}
.today:hover{
 
 background-color: #222222; 
}
.Session_name_upload{
 background-color: #222222;
 width: 5vw;
 font-size: 13px;
 color: rgba(240, 248, 255, 0.863);
}
.put_session{
 background-color: blueviolet;
 margin: 3px;
 font-size: 13px;
}
.Months{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 background-color: #161616bb;
 width: fit-content;
 padding: 10px;
 border-radius: 10px;
 margin: 0px;
}
.Month{
 cursor: pointer;
padding: 6px;
border-radius: 10px;
margin: 5px;
}
.Current_month{

 background-color: rgb(103, 3, 197);
 padding: 6px;
 border-radius: 10px;
 margin: 5px;
}
.Month:hover{
 background-color: rgb(103, 3, 197);
  }
.date__{
  font-size: 20px;
  font-weight: bold;
  color: blueviolet;
  margin-right: 0px;
}

.name {
  color: #888;
  font-size: 14px;
}
.Day{
 color: #ff0000;
}

.weekdays {
 display: grid;
 grid-template-columns: repeat(7, 1fr);
 gap: 10px;
 margin-bottom: 10px;
}

.weekday {
 font-weight: bold;
}
.Calender_component{
 display: flex;
 flex-direction: column;
 background-color: #222222;
 padding: 2vw;
 margin: 20px;
 border-radius: 20px;
 border: 1px solid blueviolet;
}
.Calender_component{
  width: 60vw;
}
.Undone{
  color: #ff1919; 
}
.Done{
  color: rgb(0, 255, 0);
}

@media screen and (max-width: 1000px) {
  .calendar-dates {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .block{
    width: 16vw;
    height: fit-content;
  }
  .View_session_details{
    margin-left: 10px;
    width: 77vw;
    height: 65vh;
  }
  .Calender_component{
    width: 80vw;
  }
  .Calender_section{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    width: 75vw;
    align-items: center;
  }

  .Video_player{
    width: 75vw;
  }
  .Record_player_{
    width: 75vw;
    height: 50vw;
  }
  
.Session_date_,.Session_name_,.Completed,.Session_time{
  min-width: 70vw;
}
.date_status{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
  
}



@media screen and (max-width: 1000px) {

.Months{
  display: flex;
  flex-direction: row;
  background-color: #161616bb;
  width: 75vw;
  font-size: 10px;
  padding: 10px;
  border-radius: 10px;
  margin: 0px;
 }

}