.Record_detail_title{
    
    font-size: large;
    font-weight: bolder;
    margin-left: 35px;
    margin-top: 35px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.Record_detail{
    display: flex;
    flex-direction: row;
}
iframe{
    width: 50vw;
    height: 30vw;
    border-radius: 30px;
}

.go_to_test{
    background-color: rgb(103, 3, 197);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    width: fit-content;
    color: white;
    
}
.go_to_test:hover{
    cursor: pointer;
    background-color: rgb(49, 0, 95);
}
.record_player{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.Note_field_{
    height: 50vh;
    width: 80vh;
    background-color: #222222;
    border-radius: 10px;
}
.add_note_form{
    align-items:flex-start;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 20px;
}
.right_blocks{
    background-color: aqua;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
  padding: 10px;
    background-color: #292929;
    animation: glowing 1.5s ease-in-out infinite alternate;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.39); 

}
.buttons{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.356);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}
.basic_button{
    background-color: rgba(137, 43, 226, 0);
    color: aliceblue;
    padding: 10px;
    border-radius: 8px;
    border: none;

}
.Selected{
    
    background-color: rgb(103, 3, 197);

}
.basic_button:hover{
    background-color: rgb(103, 3, 197);
}
.note_title{
    border: 1px solid rgba(255, 255, 255, 0.39);
    width: 70vh;
}
.video_player{
    margin: 20px;
}
.note_form{
    background-color: #22222200;
}

@media screen and (max-width: 1000px) {

    iframe{
        margin-left: 0px;
        width: 80vw;
        height: 45vw;
        border-radius: 30px;
    }
    .Record_detail{
        display: flex;
        flex-direction
        : column;
    }

.right_blocks{
    margin-left:20px ;
    width: 90vw;
}
.note_title
,.Note_field_{
    width: 80vw;
}

}