.App {
  font-family: 'Baloo Tammudu 2', cursive;
  font-family: 'Ubuntu', sans-serif;
  background-color: #1A1A1A;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
  color: white;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}


@media screen and (max-width: 1600px) {

.App{
  height: fit-content;
}
  .gap{
      display: none;
  }
}